/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 @import url("home.css");
 @import url("about.css");
 @import url("alert.css");
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:white;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    margin:0px;
    padding:0px;
    /* text-transform:uppercase; */
    scroll-behavior: smooth;
    padding-top: constant(safe-area-inset-top);
    overflow-x: hidden;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
}


/* Portrait layout (default) */
.app {         
    text-align:center;
    /* top:0;
    overflow-y: scroll; */
}
#loading{
  background-color:rgba(255,255,255,0.3);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index:900;
}
#loading img{
  position: absolute;
  width: 40px;
  height: 40px;
  /* background-color: red; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  z-index: 901;
}


.header{
    position:fixed;
    top:0 !important;
    width:100%;
    height: 60px;
    background-color: white;
    padding-top: 20px;
    z-index: 800;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  
}
a{
    text-decoration: none;
    font-size: 20px;
    color:black;
  }
li:nth-last-child(1) a{
    color: white;
}
#menu li:nth-last-child(1) {
    background:#b1bf5a;
    border:1px solid #b1bf5a;
}

  ul{
    padding: 0;
    list-style-type:none;
  }
  
  #menuToggle {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -25px;
    right: 25px;
    z-index: 1;
  }
  
  #menuToggle input
  {
    width: 40px;
    height: 32px;
    position: absolute;
    opacity: 0;
    z-index: 2;
    
  }
  
  #menuToggle span
  {
    width: 29px;
    height: 4px;
    margin-bottom: 5px;
    background: #171b5f;
    border-radius: 5px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, 0px);
    background: #171b5f;
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -4px);
  }
  
  #menu
  {
    position: fixed !important;
    width: 300px;
    height: 100vh;
    margin-top: 38px;
    margin-left: -275px;
    padding: 20px;
    padding-top: 10px;
    background-color: white;
    transform-origin: 0% 0%;
    transform: translate(100%, 0%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
  {
    color:white;
    margin-top: 10px;
    background-color: white;
    border: 1px solid #ed6762;
    border-radius: 10px;
    padding: 9px;
    transition-delay: 2s;
    border-radius: 10px;
    height: 25px;
    text-align: center;
  }
  
  #menuToggle input:checked ~ ul
  {
    transform: none;
    
  }

#logo{
    width:154px;
    height: 32px;
    background-image: url("../img/Logo_bus-do-polski.png");
    background-size: cover;
    margin-top: 10px;
    margin-left: 15px;
}

 .app {
    margin-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
    margin-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
} 

