
        <div class="container" style="width:90%; text-align: left; padding-top: 50px;">
                <h4 class="h4reg text-center">Regulamin</h4>
                <div class="clearfix"></div>
            
                <div class="txtSectionContainer">
                        <span class="paragraph">§1. Postanowienia Ogólne</span>
                
                        <ul>
                            Niniejszy Regulamin dotyczy odwiedzania i użytkowania Portalu Flotea należącej do FLOTEA Sp. Z o.o., zarejestrowana w Sądzie Rejonowym we Wrocławiu - IX Wydział Gospodarczy, KRS nr 0000417514, NIP 611-272-64-55, zwanym dalej Flotea lub Stroną.        </ul>
                
                        <ul>
                            <li>1. W niniejszej Regulaminie poniższe pojęcia mają następujące definicje:
                                <ul>
                                    <li>a. "Dane Osobowe" oznaczają wszelkie personale dane udostępnione przez Użytkownika, w tym między innymi imię i nazwisko, adres e-mail, zdjęcie, adres, numer telefonu.                    </li><li>b. "Informacje Poufne" oznaczają wszystkie informacje sklasyfikowane w ten sposób przez którąkolwiek ze Stron, niezależnie czy na piśmie czy w inny sposób, włącznie z wszystkimi informacjami związanymi z działalnością, przedsięwzięciami, produktami i usługami, produkcją, tajemnicami handlowymi, znajomości rzeczy (know-how), personelu, klientów i dostawców Strony, lub z podmiotem powiązanym ze Stroną, włącznie z jakąkolwiek informacją, która w uzasadniony sposób jest uznana za poufną dla odpowiedniej Strony                    </li><li>c. "Konto" oznacza zbiór zasobów i uprawnień, które jest utworzone przez Użytkownika z chwilą zarejestrowania w Usłudze i jest przypisane konkretnemu Użytkownikowi;                    </li><li>d. "Kwota" oznacza kwotę brutto w walucie PLN;                    </li><li>e. "Podróżny" oznacza odbiorcę usług transportowych;                    </li><li>f. "Portal" oznacza witrynę internetową Flotea dostępną pod adresem <b>https://flotea.pl</b> oraz jej podstrony i strony powiązane zlokalizowane na serwerach Flotea;                    </li><li>g. "Prawa Autorskie" lub jakiekolwiek odniesienie do własności intelektualnej oznaczają między innymi patenty, znaki towarowe, znaki usługowe, logotypy,  znaki firmowe, nazwy handlowe, nazwy domen internetowych, prawa do projektów, prawa autorskie (włączając prawa do oprogramowania komputerowego), autorskie prawa osobiste, bazy danych, prawa z rejestracji topografii układów scalonych, wzory użytkowe oraz inne prawa majątku intelektualnego, niezależnie od tego, czy są one zarejestrowane, oraz włącznie z wnioskami o ich zarejestrowanie, oraz wszelkie inne prawa lub formy ochrony, które mają podobny charakter lub równoważny skutek, w każdym miejscu na świecie;                    </li><li>h. "Przewoźnik" oznacza dostawcę usług transportowych;                    </li><li>i. "Strona" oznacza Flotea i/lub Użytkownika, stosowanie do okoliczności, a „Strony” oznaczają Flotea i Użytkownika;                    </li><li>j. "Treści" oznaczają wszelkie przedstawiane lub wyświetlane treści, w tym, między innymi, logo, ikony, znaki handlowe, tekst, tekst graficzny, grafika, fotografie, obrazy, filmy, dźwięki, ilustracje, muzyka, oprogramowanie (z wyłączeniem Portalu), opinie, uwagi, komentarze, szata graficzna, pytania, sugestie, informacje i inne materiały;                    </li><li>k. "Treści Flotea" oznaczają Treści posiadane lub wykorzystywane przez Flotea, jej podmioty stowarzyszone lub licencjodawców, udostępniane przy użyciu Portalu lub Usługi, włączając w to jakiekolwiek Treści licencjonowane przez strony trzecie, z wyłączeniem Treści Użytkownika;                    </li><li>l. "Treści Użytkownika" oznaczają Treści, jakie Użytkownik zamieszcza, przesyła, publikuje, dostarcza lub transmituje w celu udostepnienia w Portalu lub za pośrednictwem Usługi;                    </li><li>m. "Treści Wspólne" oznaczają, łącznie, Treści Flotea oraz Treści Użytkownika;                    </li><li>n. "Umowa" oznacza Klauzule 1-49;                    </li><li>o. "Użytkownik" oznacza Podróżnego oraz Przewoźnika, którzy korzystają z Usługi;                    </li><li>p. "Usługa" oznacza świadczenie za pośrednictwem Portalu informacji oraz środków pozwalających na korzystanie przez Podróżnych z usług transportowych dostarczanych przez Przewoźników, w tym między innymi wyszukiwanie usług transportowych, zakup i sprzedaż biletów od przewoźników.                </li></ul>
                            </li>
                        </ul>
                
                        <span class="paragraph">§2. Świadczenie Usług</span>
                
                        <ul>
                            <li>1. Korzystanie z Portalu jest równoznaczne z zaakceptowaniem niniejszego Regulaminu przez Użytkownika.            </li><li>2. W celu korzystania z Usługi przez Przewoźnika, należy najpierw się zarejestrować na Portalu.            </li><li>3. W celu korzystania z Usługi przez Pasażera rejestracja jest dobrowolna.            </li><li>4. Flotea nie świadczy usług transportowych ani nie jest pośrednikiem w sprzedaży biletów przewoźników. Flotea za darmo udostępnia narzędzie do oferowania sprzedaży biletów. Flotea świadczy usługę przekazania środków pieniężnych od pasażera dla przewoźnika.            </li><li>5. Świadczenie usług transportowych odbywa się z zastrzeżeniem zawarcia umowy pomiędzy Przewoźnikiem a Podróżnym, a Flotea nie jest stroną takiej umowy.            </li><li>6. Użytkownik oświadcza, że ma skończone 18 lat lub jego wiek nie ogranicza korzystanie z Usługi ze względu na jurysdykcję, pod którą się znajduje.             </li><li>7. Użytkownik zobowiązuje się do                <ul>
                                    <li>a. korzystania z Usługi jedynie na swój własny użytek;                    </li><li>b. nieprzekazania, nieupoważnienia, nieprzepisania ani w inny sposób nie przeniesienia praw własności do swojego konta stronom trzecim oraz zachowania poufności danych dostępowych do swojego konta;                    </li><li>c. niekorzystania z innego konta bez upoważnienia Flotea;                    </li><li>d. niekorzystania z Usługi w celach niezgodnych z prawem oraz do przestrzegania wszelkich stosownych przepisów prawa;                     </li><li>e. niekorzystania z Usługi w celu nieuczciwym, dokuczliwym czy jakimkolwiek, który spowodowałoby niedogodności lub trudności;                    </li><li>f. niezakłócania prawidłowego działania Usługi, w tym generowania ruchu oraz transferu w celu innym niż korzystania z Usługi;                    </li><li>g. niekopiowania i nierozpowszechniania jakichkolwiek treści zawartych na Portalu;                    </li><li>h. dostarczenia Flotea dowodu stwierdzającego tożsamość w uzasadnionych przypadkach w związku z Klauzulą 6.                    </li><li>i. W przypadku naruszenia przez Użytkownika postanowień Klauzuli 7, Flotea zastrzega sobie prawo do rozwiązania Umowy ze skutkiem natychmiastowym.                </li></ul>
                            </li>
                       </ul>
                
                       <span class="paragraph">§3. Płatności i rezerwacje</span>
                
                        <ul>
                            <li>10. Korzystanie z Usługi jest bezpłatne. Flotea zastrzega sobie prawo do wprowadzenia opłaty za korzystanie z Usług z zachowaniem postanowień Klauzuli 46.            </li><li>11. Aktualne stawki za usługi transportowe znajdują się w Portalu, a Podróżny zobowiązuje się do uzyskania informacji na temat aktualnej stawki przed dokonaniem rezerwacji.            </li><li>12. Z chwilą dokonania rezerwacji pobierana jest odpowiednia kwota z konta bankowego Podróżnego. Rezerwacja nie będzie dokonana w przypadku braku autoryzacji lub braku środków na karcie płatniczej Podróżnego.            </li><li>13. Dane dotyczące karty płatniczej nie są przechowywane przez Flotea i nie są udostępniane Przewoźnikowi.            </li><li>14. Autoryzację kart płatniczych dokonuje podmiot zewnętrzny: PayU, a dokonanie płatności wiąże się z zaakceptowaniem regulaminu dostępnego pod adresem <b>https://flotea.pl/law-info</b>
                            </li><li>15. Podróżny aktualnie nie może zmienić daty podróży poprzez Flotea.            </li><li>16. Podróżny może zwrócić bilet do 24 godzin przed podróżą za pośrednictwem Portalu, a pobrana kwota zostanie zwrócona Pasażerowi w wysokości 71.4% po potrąceniu kosztów administracyjnych Flotea oraz prowizji przez podmioty zewnętrzne obsługujące płatności.            </li><li>17. Potwierdzenie zamówienia zostanie przekazana Podróżnemu za pośrednictwem Portalu i/lub poprzez wysłanie odpowiedniej wiadomości na adres e-mail Podróżnego. Potwierdzenie to zawierać będzie numer rezerwacji oraz dane dotyczące podróży.            </li><li>18. Przyjęcie lub odrzucenie rezerwacji przez Podróżnego leży w gestii Przewoźnika, bez jakiejkolwiek ingerencji Flotea.            </li><li>19. Dane osobowe adres email, telefon, imię i nazwisko Użytkownika w stopniu koniecznym do świadczenia usługi transportowej przekazywane są Przewoźnikowi.            </li><li>20. Poprzez świadczenie Usług Flotea zobowiązuje się do podjęcia uzasadnionych starań w celu umożliwienia Podróżnemu kontaktu z Przewoźnikiem w związku z dokonaną rezerwacją.        </li></ul>
                
                        <span class="paragraph">§4. Odpowiedzialność</span>
                
                        <ul>
                            <li>21. Wszelkie Treści zawarte w Portalu mają charakter wyłącznie informacyjny. Flotea dołoży wszelkich starań, aby Treści Flotea były poprawne, dokładne i aktualne, ale nie może zagwarantować, że Treści Flotea będą wolne od błędów, wad, złośliwego oprogramowania oraz wirusów, oraz, że informacje te będą poprawne, dokładne i aktualne.            </li><li>22. Flotea nie ponosi odpowiedzialności za żadne szkody powstałe w wyniku użytkowania bądź niemożności użytkowania Usługi, w tym szkody spowodowane przez złośliwe oprogramowanie oraz wirusy i jakiekolwiek nieprawidłowości związane z Treściami Flotea, o których mowa w Klauzuli 21.            </li><li>23. W szczególności Flotea nie ponosi odpowiedzialności za żadne szkody związane z dostępem do Usługi, w tym z transmisją danych pomiędzy Użytkownikiem a Usługą, włączając wszelkie niepowodzenia, opóźnienia lub przechwycenia bądź zmanipulowania danych przez strony trzecie lub złośliwe oprogramowanie i wirusy.            </li><li>24. Nie ograniczając Klauzul 21-23 i o tyle o ile jest to możliwe zgodne z prawem polskim, łączna odpowiedzialność Flotea nie będzie przekraczać w żadnym przypadku kwoty 100 zł (sto złotych).            </li><li>25. Całkowitą odpowiedzialność za usługi transportowe ponosi Przewoźnik. Flotea w żadnym wypadku nie ponosi odpowiedzialności związanej z i/lub wynikającej z usług transportowych świadczonych przez Przewoźnika, ani też nie jest odpowiedzialna za jakiekolwiek czyny, działania, zachowanie, postepowanie i/lub zaniedbanie leżące po stronie Przewoźnika. Z tego względu wszelkie skargi dotyczące usług transportowych świadczonych przez Przewoźnika należy kierować bezpośrednio do Przewoźnika.        </li></ul>
                
                        <span class="paragraph">§5. Zwolnienie z odpowiedzialności</span>
                
                        <ul>
                            <li>26. Z chwilą zawarcia niniejszej Umowy Użytkownik zobowiązuje się chronić Flotea i zwolnić ją, jej podmioty stowarzyszone, licencjodawców oraz wszystkich jej przedstawicieli, dyrektorów, innych użytkowników, pracowników, pełnomocników oraz pośredników z odpowiedzialności za wszelkie roszczenia, koszty, szkody, straty, zobowiązania i wydatki (w tym wszystkie koszty i honoraria dla prawników) powstałe w wyniku lub będące w związku z:
                                <ul>
                                    <li>a. naruszeniem lub niedotrzymaniem przez Użytkownika jakichkolwiek warunków zawartych w niniejszej Umowie lub jakichkolwiek praw lub regulacji prawnych, bez względu na to, czy zostały one wymienione w niniejszej Umowie;                    </li><li>b. naruszeniem przez Użytkownika jakichkolwiek praw stron trzecich, w tym Przewoźników;                    </li><li>c. użytkowaniem lub nadużyciem przez Użytkownika korzystania z Usługi.                </li></ul>
                            </li>
                        </ul>
                
                        <span class="paragraph">§6. Polityka Prywatności</span>
                
                        <ul>
                            <li>                27. Administratorem danych jest Flotea.                            </li><li>28. Ponieważ Usługa nie jest przeznaczona dla osób poniżej 18 roku życia, osoby te nie mogą się zarejestrować lub skorzystać z Usługi lub udostępnić Danych osobowych. Flotea nie gromadzi świadomie Danych osobowych od osób poniżej 18 roku życia.            </li><li>29. W celu prawidłowego świadczenia Usługi, Użytkownik odwiedzając Portal udostępnia miedzy innymi adres IP, odwiedzane strony oraz ich czas i długość, informacje o przeglądarce internetowej, systemie i rozdzielczości ekranu. W celu udoskonalenia doświadczenia Użytkownika, Użytkownik może udostępnić między innymi położenie geograficzne Użytkownika. Udostępnianie informacji opisanych w niniejszej Klauzuli przez Użytkownika jest równoznaczne ze zgodą Użytkownika na przetwarzanie tych informacji przez Flotea.            </li><li>30. Podczas lub po rejestracji Użytkownik udostępnia Dane osobowe. Flotea wykorzysta te dane do poprawnego świadczenia Usługi, do skontaktowania się z Użytkownikiem celem weryfikacji adresu e-mail i hasła, odpowiedzi na zapytania Użytkownika oraz obwieszczenia dotyczące Usługi. Flotea użyje tych informacji do założenia i zarządzania Kontem Użytkownika.            </li><li>31. Flotea może zaangażować strony trzecie do wspomożenia lub świadczenia Usługi w imieniu Flotea, między innymi przy realizacji płatności lub obsłudze Użytkownika. Strony te będą miały dostęp do Danych osobowych Użytkownika tylko w celu wykonania tych zadań i nie udostępnią i nie użyją tych Danych osobowych w innym celu.            </li><li>32. Flotea może udostępnić Dane osobowe Użytkownika w celu wymaganym przez prawo polskie na podstawie orzeczenia sądowego lub w związku z wytycznymi organu regulującego, pod który podlega Flotea.            </li><li>33. Użytkownik ma prawo do uzyskania dostępu do Danych osobowych, które to Użytkownik udostępnił podczas lub po rejestracji. Użytkownik ma prawo do poprawienia lub usunięcia poszczególnych danych poprzez formularz zgłoszeniowy dostępny w stopce w dziale Kontakt.            </li><li>34. O ile nie zaznaczono inaczej w niniejszym Regulaminie, Flotea będzie przechowywała danych osobowych Użytkownika do momentu usunięcia Konta/lub zgłoszenia chęci usunięcia konta oraz w przypadku nieaktywności Konta przez okres minimum 1 (jednego) roku.            </li><li>35. O ile prawo lub inne przepisy nie wymagają zachowania Danych osobowych Użytkownika po usunięciu Konta, dane te zostaną przez Flotea zanonimizowane.            </li><li>36. Flotea podejmie wszelkie uzasadnione środki ostrożności, aby Dane osobowe były bezpiecznie przechowywane na serwerach Flotea za pomocą przyjętych standardów. Flotea jednakże nie może gwarantować bezpieczeństwa bazy danych oraz przechwycenia wszelkich informacji, w tym Treści Użytkownika i Danych osobowych, podczas transmisji pomiędzy Flotea a Użytkownikiem. Każda transmisja takich informacji jest dokonana na ryzyko Użytkownika.            </li><li>37. Do prawidłowego świadczenia Usługi może być konieczne użycie ciasteczka (zang. „cookie”), które jest plikiem tekstowym umieszczony na komputerze lub telefonie komórkowym lub innym urządzeniu Użytkownika. Użytkownik może zaakceptować albo nie zaakceptować użycia ciasteczka poprzez odpowiednie ustawienia w przeglądarce internetowej.        </li></ul>
                
                        <span class="paragraph">§7. Prawa autorskie</span>
                
                        <ul>
                            <li>39. Użytkownik zobowiązuje się, że wszelkie Treści Użytkownika wprowadzone przez Użytkownika do Portalu nie naruszą żadnych patentów, praw autorskich, tajemnic handlowych lub innych praw stron trzecich oraz są informacjami niepoufnymi i niezastrzeżonymi. W przypadku i zakresie, w którym informacje takie zawierają materiały będące własnością stron trzecich, Użytkownik gwarantuje, że jest licencjonowany lub autoryzowany przez odpowiedniego właściciela do użytku takich materiałów oraz może przyznać sublicencję Flotea do takich informacji.            </li><li>40. Użytkownik nadaje Flotea niewyłączne, wolne od opłat licencyjnych prawo do użytkowania, kopiowania, rozpowszechniania i ujawniania osobom trzecim wszelkich Treści Użytkownika, w dowolnym celu, przy użyciu dowolnego środka przekazu i na całym świecie.            </li><li>41. Użytkownik nie może używać, kopiować, przerabiać, zmieniać, tworzyć dzieł zależnych, rozpowszechniać, udzielać licencji, sprzedawać, dokonywać przeniesienia, publicznie przedstawiać, publicznie wykonywać, odtwarzać, transmitować, nadawać strumieniowo, emitować lub w inny sposób wykorzystywać Portalu, Usługi lub Treści Wspólnych, z zastrzeżeniem zapisów niniejszego Regulaminu zawierających wyraźne przyzwolenie. Użytkownik nie może ponownie użyć Treści Wspólnych bez uprzedniego uzyskania pisemnej zgody Flotea. Użytkownikowi nie są udzielane żadne licencje ani prawa przez domniemanie lub w inny sposób przewidziany prawami własności intelektualnej posiadanymi lub kontrolowanymi przez Flotea lub jej licencjodawców, poza licencjami i prawami udzielonymi wyraźnie w niniejszej Umowie.                    </li></ul>
                
                        <span class="paragraph">§8. Informacje poufne</span>
                
                        <ul>
                            <li>42. Strony uznają, że jakakolwiek Informacja Poufna uzyskana lub dotycząca drugiej Strony, z wyłączeniem Treści Użytkownika, jest własnością tej Strony.            Strony zobowiązują się niniejszym do:
                                <ul>
                                    <li>a. Strona będzie używała Informacji Poufnej tylko i wyłącznie w Celu niniejszej Umowy;
                                    </li><li>b. Strona nie ujawni Informacji Poufnej stronie trzeciej bez uprzedniej pisemnej zgody drugiej Strony;
                                    </li><li>c. Strona podejmie wszelkie uzasadnione środki ostrożności niezbędne do zapewnienia, aby każda Informacja Poufna pozostała poufną i nie została ujawniona w Celu innym niż niniejszy Regulamin; oraz                    </li><li>d. Strona w szczególności nie wykorzysta Informacji Poufnej do pozyskania działalności lub klienta od drugiej Strony, lub dla uzyskania przewagi konkurencyjnej.                </li></ul>
                            </li>
                
                            <li>POD WARUNKIEM, że powyższego postanowienia nie stosuję się do jakichkolwiek informacji, która:
                                <ul>
                                    <li>e. jest lub zostanie podana do wiadomości publicznej bez naruszenia postanowień Klauzuli 42;                    </li><li>f. jest w posiadaniu właściwej Strony bez restrykcji do ujawnienia, która to informacja weszła w posiadanie przed datą otrzymania od drugiej Strony;                    </li><li>g. jest otrzymana od strony trzeciej, która legalnie weszła w jej posiadania i nie jest objęta restrykcją jej ujawnienia;                    </li><li>h. jest niezależnie pozyskana przez Stronę bez naruszenia Informacji Poufnych drugiej Strony; oraz/lub                    </li><li>i. jest wymagana do ujawnienia na podstawie orzeczenia sądowego, lub przez Flotea w związku z wytycznymi organu regulacyjnego, pod który podlega Flotea.                </li></ul>
                            </li>
                
                            <li>43. W przypadku naruszenia przez Stronę postanowień Klauzuli 41-42:
                                <ul>
                                    <li>a. zobowiązana ona będzie do zapłaty kary umownej w Kwocie 10 000 zł (dziesięć tysięcy złotych) za każdorazowe naruszenie, w terminie 14 (czternastu) dni od otrzymania stosownego wezwania od drugiej Strony. Wezwanie do zapłaty winno zawierać dokładny opis, okoliczności i sposób dokonania naruszenia;                    </li><li>b. obowiązek zapłaty kary umownej określonym powyżej nie wyklucza możliwości dochodzenia odszkodowania przewyższającego wysokość kary umownej.                </li></ul>
                            </li>
                
                        </ul>
                
                        <span class="paragraph">§9. Reklamacje. Jak i gdzie składać</span>
                
                        <ul>
                            <li>44. Użytkownik może kontaktować się z Flotea w sprawie usług świadczonych drogą elektroniczną na podstawie niniejszego Regulaminu w formie:
                                <ul>
                                    <li> a. pisemnej na adres: Flotea Sp. z o.o Tuwima 4, 58-573 Piechowice
                                    </li><li> b. za pomocą formularza kontaktowego znajdującego się w zakładce KONTAKT po uprzednim kliknięciu w odnośnik KONTAKT w stopce strony Flotea                    </li><li> c. na adres e-mail: <b>reklamacje@flotea.pl</b>
                                </li></ul>
                            </li>
                            <li> 45. W przypadku, gdy zdaniem Pasażera/Przewoźnika usługi świadczone na podstawie Regulaminu nie są realizowane przez FLOTEA bądź są realizowane niezgodnie z postanowieniami Regulaminu, może on złożyć zastrzeżenia w sposób określony poniżej jako reklamacja. Jednocześnie w przypadku sprzedaży własnej biletów i udostępnianej przez Flotea Użytkownik może zgłosić Reklamację w sposób opisany w treści Oferty Flotea.            </li><li> 46. Reklamację można złożyć w formie elektronicznej za pomocą formularza kontaktowego lub pisemnej. Reklamacja powinna zawierać co najmniej nazwę, pod jaką Użytkownik występuje we FLOTEA (login / adres email), oraz opis zgłaszanych zastrzeżeń.            </li><li> 47. FLOTEA przed rozpatrzeniem Reklamacji, zwraca się do składającego Reklamację o jej uzupełnienie we wskazanym zakresie, jeżeli podane dane lub informacje, o których mowa w art. § 9 wymagają uzupełnienia.            </li><li> 48. FLOTEA rozpoznaje Reklamację w terminie 14 dni od daty jej otrzymania z zastrzeżeniem art. §9 gdzie termin jej rozpoznania rozpoczyna się od daty otrzymania prawidłowo uzupełnionej Reklamacji.            </li><li> 49. Odpowiedź na Reklamację wysyłana jest wyłącznie na adres e-mail przypisany do Konta danego Użytkownika. W szczególnie uzasadnionych przypadkach FLOTEA może wysłać odpowiedź na inny adres wskazany przez składającego Reklamację. adres e-mail, który nie jest przypisany do Konta Użytkownika, lub na pisemnie adres wskazany w Reklamacji.        </li></ul>
                
                        <span class="paragraph">§10. Ochrona danych osobowych</span>
                
                        <ul>
                            <li>50. Administratorem danych osobowych Użytkowników będących osobami fizycznymi, w rozumieniu Ustawy z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (tj. Dz. U. z 2016 roku, poz. 922 ze zm.), jest Flotea Sp. z o.o
                        </li></ul>
                
                
                        <span class="paragraph">§11. Ograniczenia</span>
                
                        <ul>
                            <li>51. Zabrania się jakichkolwiek działań potencjalnie lub faktycznie utrudniających lub uniemożliwiających prawidłowe działanie portalu. Zdanie poprzedzające stosuje się odpowiednio w przypadkach działania faktycznie lub potencjalnie na szkodę Flotea, w szczególności negatywnego wpływu na wizerunek portalu lub dobre imię Flotea. W przypadku takiego postępowania po stronie Użytkownika, Flotea zastrzega sobie prawo do podjęcia odpowiednich działań zmierzających do naprawienia zaistniałej szkody.            </li><li>52. Użytkownikowi korzystającemu z portalu Flotea zabrania się pobierania do wtórnego wykorzystywania w jakimkolwiek celu całości lub części bazy danych portalu Flotea.            </li><li>53. Za naruszenie postanowień niniejszego Regulaminu uważa się również działania lub zaniechania zmierzające do jego obejścia.        </li></ul>
                
                        <span class="paragraph">§12. Postanowienia końcowe</span>
                
                        <ul>
                            <li>54. Użytkownik może cofnąć akceptację niniejszego Regulaminu poprzez usunięcie Konta i usunięcie takiego konta jest równoznaczne z usunięcie akceptacji Regulaminu przez Użytkownika.            </li><li>55. Flotea zastrzega sobie prawo do wprowadzenia zmian w niniejszym Regulaminie i poinformowania Użytkownika o takich zmianach w terminie 30 (trzydziestu) dni przed wejściem w życie takich zmian. W przypadku niewyrażenia zgody Użytkownika na takie zmiany, Użytkownik może usunąć akceptację niniejszego Regulaminu zgodnie z postanowieniem Klauzuli 44.            </li><li>56. Po wygaśnięciu lub rozwiązaniu niniejszej Umowy przez którąkolwiek Stronę:
                                <ul>
                                    <li>Flotea niezwłocznie usunie Dane osobowe Użytkownika w zakresie w którym nie przeszkadza to w aktualnych i przyszłych usługach transportowych wykupionych przez Użytkownika oraz w zakresie zgodnym z prawem polskim; oraz                    </li><li>inne postanowienia zawarte w Klauzulach 1-48 lub innym miejscu, mających charakter utrzymania się lub wejścia w życie z chwilą wygaśnięcia lub rozwiązania, pozostaną w mocy po rozwiązaniu lub wygaśnięciu niniejszej Umowy i będą obowiązywać w pełnym ich zakresie.                </li></ul>
                            </li>
                            <li>57. Polski tekst niniejszego Regulaminu stanowi jedyny oryginalny tekst. W przypadku jakichkolwiek rozbieżności pomiędzy polskim tekstem a tłumaczeniem na inny język, wiążącym będzie tekst w języku polskim.            </li><li>58. Niniejszy Regulamin                <ul>
                                    <li>a. zawiera całość ustaleń i porozumień pomiędzy Stronami dotyczące przedmiotu niniejszej Umowy;                    </li><li>b. jest regulowany i interpretowany zgodnie z prawem polskim, a Strony niniejszym poddają się wyłącznej jurysdykcji sądów polskich.                </li></ul>
                            </li>
                            <li>59. Regulamin Przewoźnika                <ul>
                                    <li>a. Akceptując regulamin Flotea, pasażer oświadcza, iż zapoznał się z regulaminem przewoźnika sprzedającego bilet.                </li></ul>
                            </li>
                        </ul>
                
                
                    </div>

            </div>

      