
        <div class="container" style="width:90%; text-align: left; padding-top: 50px;">
                <h4 class="h4reg text-center">Polityka prywatności</h4>
                <div class="clearfix"></div>
            
                <div class="col-xs-12" style="margin: 20px 0px; background-color: #FFF">
                    <div class="txtSectionContainer">
                        <span class="paragraph">§1. Postanowienia Ogólne</span>
                        <ul>
                            <li>1. Administratorem danych jest FLOTEA Sp. Z o.o. z siedzibą w Tuwima 4, 58-573 Piechowice, wpisanej do Rejestru Przedsiębiorców pod numerem KRS: 0000417514, dla której akta rejestrowe prowadzi w Sądzie Rejonowym we Wrocławiu - IX Wydział Gospodarczy Krajowego Rejestru Sądowego, NIP: 611-272-64-55, REGON: 021856650. Ochrona danych odbywa się zgodnie z wymogami powszechnie obowiązujących przepisów prawa, a ich przechowywanie ma miejsce na zabezpieczonych serwerach.</li>
                            <li>2. Dla interpretacji terminów stosuje się słowniczek Regulaminu lub tak jak zostało to opisane w Polityce Prywatności (jeżeli wynika to bezpośrednio z opisu).</li>
                            <li>3. Szanujemy prawo do prywatności i dbamy o bezpieczeństwo danych. W tym celu używany jest m.in. bezpieczny protokół szyfrowania komunikacji (SSL).</li>
                            <li>4. Na potrzeby lepszego odbioru Polityki Prywatności termin „Użytkownik” zastąpiony został określeniem „Ty”,  „Administrator” – „My”. Termin „RODO” oznacza Rozporządzenie Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE.</li>
                            <li>5. Dane osobowe podawane w formularzu na landing page’u są traktowane jako poufne i nie są widoczne dla osób nieuprawnionych.</li>
                        </ul>
                        <span class="paragraph">§2. Administrator Danych</span>
                        <ul>
                            <li>6. Usługodawca jest administratorem danych swoich klientów. Oznacza to, że jeśli posiadasz Konto na naszej stronie, to przetwarzamy Twoje dane jak: imię, nazwisko, adres e-mail, numer telefonu, adres IP.</li>
                            <li>7. Usługodawca jest także administratorem osób zapisanych na newsletter.</li>
                            <li>8. Dane osobowe przetwarzane są:<br><br>
            
                            a. zgodnie z przepisami dotyczącymi ochrony danych osobowych,<br><br>
                            b. zgodnie z wdrożoną Polityką Prywatności,<br><br>
                            c. w zakresie i celu niezbędnym do nawiązania, ukształtowania treści Umowy, zmiany bądź jej rozwiązania oraz prawidłowej realizacji Usług świadczonych drogą elektroniczną, <br><br>
                            d. w zakresie i celu niezbędnym do wypełnienia uzasadnionych interesów (prawnie usprawiedliwionych celów), a przetwarzanie nie narusza praw i wolności osoby, której dane dotyczą:<br><br>
            
                            w zakresie i celu zgodnym ze zgodą wyrażoną przez Ciebie jeśli zapisałeś się na newsletter<br><br>
            
                            </li>
                            <li>9. Każda osoba, której dane dotyczą (jeżeli jesteśmy ich administratorem) ma prawo dostępu do danych, sprostowania, usunięcia lub ograniczenia przetwarzania, prawo sprzeciwu, prawo wniesienia skargi do organu nadzorczego.</li>
                            <li>10. Kontakt z osobą nadzorującą przetwarzanie danych osobowych w organizacji Usługodawcy jest możliwy drogą elektroniczną pod adresem e-mail: flote@flotea.pl .</li>
                            <li>11. Zastrzegamy sobie prawo do przetwarzania Twoich danych po rozwiązaniu Umowy lub cofnięciu zgody tylko w zakresie na potrzeby dochodzenia ewentualnych roszczeń przed sądem lub jeżeli przepisy krajowe albo unijne bądź prawa międzynarodowego obligują nas do retencji danych.</li>
                            <li>12. Usługodawca ma prawo udostępniać dane osobowe Użytkownika oraz innych jego danych podmiotom upoważnionym na podstawie właściwych przepisów prawa (np. organom ścigania).</li>
                            <li>13. Usługodawca nie udostępniania danych osobowych innym podmiotom aniżeli upoważnionym na podstawie właściwych przepisów prawa.</li>
                            <li>14. Usunięcie danych osobowych może nastąpić na skutek cofnięcia zgody bądź wniesienia prawnie dopuszczalnego sprzeciwu na przetwarzanie danych osobowych.</li>
                            <li>15. Wdrożyliśmy pseudonimizację, szyfrowanie danych oraz mamy wprowadzoną kontrolę dostępu dzięki czemu minimalizujemy skutki ewentualnego naruszenia bezpieczeństwa danych.</li>
                            <li>16. Dane osobowe przetwarzają osoby wyłącznie upoważnione przez nas albo przetwarzający, z którymi ściśle współpracujemy.</li>
                        </ul>
                        <span class="paragraph">§3. Pliki cookies</span>
                        <ul>
                            <li>17. Witryna [adres] używa cookies. Są to niewielkie pliki tekstowe wysyłane przez serwer www i przechowywane przez oprogramowanie komputera przeglądarki. Kiedy przeglądarka ponownie połączy się ze stroną, witryna rozpoznaje rodzaj urządzenia, z którego łączy się użytkownik. Parametry pozwalają na odczytanie informacji w nich zawartych jedynie serwerowi, który je utworzył. Cookies ułatwiają więc korzystanie z wcześniej odwiedzonych witryn.<br><br>
            
                            Gromadzone informacje dotyczą adresu IP, typu wykorzystywanej przeglądarki, języka, rodzaju systemu operacyjnego, dostawcy usług internetowych, informacji o czasie i dacie, lokalizacji oraz informacji przesyłanych do witryny za pośrednictwem formularza kontaktowego.
                            </li>
                            <li>18. Zebrane dane służą do monitorowania i sprawdzenia, w jaki sposób użytkownicy korzystają z naszych witryn, aby usprawniać funkcjonowanie serwisu zapewniając bardziej efektywną i bezproblemową nawigację. Monitorowania informacji o użytkownikach dokonujemy korzystając z narzędzia Google Analitics, które rejestruje zachowanie użytkownika na stronie.<br><br>
            
                            Cookies identyfikuje użytkownika, co pozwala na dopasowanie treści witryny, z której korzysta, do jego potrzeb. Zapamiętując jego preferencje, umożliwia odpowiednie dopasowanie skierowanych do niego reklam. Stosujemy pliki cookies, aby zagwarantować najwyższy standard wygody naszego serwisu, a zebrane dane są wykorzystywane jedynie wewnątrz firmy [nazwa] w celu optymalizacji działań.</li>
            
                            <li>19.  Na naszej witrynie wykorzystujemy następujące pliki cookies [naturalnie trzeba tu dostosować treść do wykorzystywanych przez Ciebie plików]:<br><br>
            
                            a) „niezbędne” pliki cookies, umożliwiające korzystanie z usług dostępnych w ramach serwisu, np. uwierzytelniające pliki cookies wykorzystywane do usług wymagających uwierzytelniania w ramach serwisu;
                            <br><br>
                            b) pliki cookies służące do zapewnienia bezpieczeństwa, np. wykorzystywane do wykrywania nadużyć w zakresie uwierzytelniania w ramach serwisu;
                            <br><br>
                            c) „wydajnościowe” pliki cookies, umożliwiające zbieranie informacji o sposobie korzystania ze stron internetowych serwisu;
                            <br><br>
                            d) „funkcjonalne” pliki cookies, umożliwiające „zapamiętanie” wybranych przez użytkownika ustawień i personalizację interfejsu użytkownika, np. w zakresie wybranego języka lub regionu, z którego pochodzi użytkownik, rozmiaru czcionki, wyglądu strony internetowej itp.;
                            <br><br>
                            e) „reklamowe” pliki cookies, umożliwiające dostarczanie użytkownikom treści reklamowych bardziej dostosowanych do ich zainteresowań.
                            </li>
                            <li>20. Użytkownik w każdej chwili ma możliwość wyłączenia lub przywrócenia opcji gromadzenia cookies poprzez zmianę ustawień w przeglądarce internetowej. Instrukcja zarządzania plikami cookies jest dostępna na stronie
                            <br><br>
                            <a href="http://www.allaboutcookies.org/manage-cookies" target="_blank">http://www.allaboutcookies.org/manage-cookies</a>
                            </li>
                        </ul>
                            Dodatkowe dane osobowe, jak adres e-mail, zbierane są jedynie w miejscach, w których użytkownik wypełniając formularz wyraźnie wyraził na to zgodę. Powyższe dane zachowujemy i wykorzystujemy tylko do potrzeb niezbędnych do wykonania danej funkcji.
                            <br><br>
                            25.5.2018
                    </div>
                </div>
            </div>

 

      