.reservation_block{
    margin-top: 50px;
    background-color: #f3f3f3;
    width: 100%;
    min-height: 250px;
    padding-bottom: 30px;

}
.left-reservation-block{
    width: 90%;
    padding-top: 30px;
    padding-left: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-bottom: 60px;
    font-weight: 100;
}
p.text-left{
    font-family: sans-serif;
    text-align: left;
    font-size: 17px;
}
.text-center{
    text-align: center;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}
.reservation-cta{
    width: 60px;
    height: 25px;
    background-color: #adc146;
    border:solid 1px lightgray; 
    padding: 10px;
    border-radius: 5px;
    color: white;
}

small.text-salmon{
    color: #fe5c5c;
}
h4.info1{
    font-size: 18px;
    font-weight: 400;
}
.introduction_pictures {
    width: 95%;
}
.image{
    width: 85%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
p.textPosition{
    width: 90%;
    padding: 10px;
}
p.large{
    font-size: 17px;
  }
  h5.textPosition{
      font-size: 20px;
  }