.container{
    width: 100vw;
    /* height: calc(100vh); */
    z-index: 2;
    /* overflow-y: auto; */
    overflow-y: scroll;
    left:0;
    right:0;
    margin:0 auto;
    transform: translate3d(0,0,0);
    -webkit-overflow-scrolling: touch;
}
.container::-webkit-scrollbar { 
    display: none; 
}
h1{
    font-family: sans-serif;
    font-size: 27px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
h2{
    font-family: sans-serif;

}
h3{
    font-family: sans-serif;
    size:33px;
    color: white;
}
#forms,
#forms2{
    width: 95%;
    margin-top: -20px;
    background-color: #3444aa;
    border-radius: 5px;
    padding-bottom: 15px;
    margin: 0 auto;
}
.search_from::before, 
.search_from::after{
    box-sizing: border-box;
}
.search_from{
    /* border: 7px solid #3444aa; */
    width: 90%;
    height: 40px;
    margin-top: 10px;
    padding: 10px;
    font-size: 19px;
    color: #6e757c;
    border-radius: 5px;
    -webkit-appearance: none;
    overflow-y: auto;

} 

input[type='tel']#phone{
    /* width: 77% !important; */
    height: 40px;
    margin-top: 10px;
    bottom: -10px;
    padding: 10px;
    font-size: 19px;
    color: #6e757c;
    border-radius: 5px;
    -webkit-appearance: none;
    padding-left: 52px!important;
}
/* input[type='date']{
    margin-top: 5px;
} */
/* @media screen and (min-width:390px) {
    input[type='tel']#phone{
        width: 90% ;

    }
} */
button#buttonsend1{
    height: 45px;
    background-color: #fe5c5c;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    margin-top: 25px;
}
input#contact{
    margin-top: 4px;
    margin-bottom: -20px;
    /* width: 82% !important; */
    height: 40px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
  }
@media screen and (min-width: 355px){
    input[type='tel']#phone {
    width: 78% !important;
    }
    button#buttonsend1{
        width: 100% !important;
    }
    input#contact{
        width: 78% !important;
    }
}
@media screen and (max-width: 355px){
    input[type='tel']#phone {
        width: 76% !important;
    }
    button#buttonsend1{
        width: 96.5% !important;
    }
    input#contact{
        width: 76% !important;
    }
}

@media screen and (min-width:411px){
    input[type='tel']#phone{
        width: 79% !important;
    
    }
    input#contact{
        width: 79% !important;
    }
    
}


/* #phone::placeholder{
    padding-left: 30px;
} */
.iti__selected-flag{
    margin-left: 10px;
}
#search_button{
    border: 5px solid #ec4a41;
    border-radius: 5px;
    width: 95%;
    height: 60px;
    margin-top: 20px;
    font-size: 22px;
    background-color: #ec4a41;
}

.icon-search{
    background-image: url('../img/search_icon.png');
    background-size: cover; 
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    left:0;
    right: 0;
    margin:auto auto;
}
.mainsearchBar{
    padding-top: 7px;
    background-color: rgba(70, 93, 214, 0.9);
    /* background-image: url('../img/bus.png'); */
    background-position:right top;
    background-repeat: no-repeat;
    background-size: 90% auto;
    margin-bottom: 30px;
    margin-top: 55px;
    /* overflow-y: auto; */
}

.search_result{
    width: 90%;
    min-height: 207px;
    background-color: white;
    margin-top: 40px;
    box-shadow: 0px 4px 25px 1px rgba(0,0,0,0.32);
    /* position: relative; */
    margin: 0 auto;
    /* margin:0 auto; */
   
}
.result{
    margin-top: 30px;
}
.vip{
    width: 100%;
    height: 20px;
    background-color: #b1bf5a;
    font-size: 19;
    padding-top: 10px;
    color: white;
}
.nonVip{
    width: 100%;
    height: 5px;
    background-color: white;
    font-size: 19;
    padding-top: 10px;
    color: black;
}
#none{
    height:20px;
}
#none2{
    height:300px;
}
.logoBus{
    font-size: 30px;
    width: 95px;
    height: 95px;
    background-color: #6c8693;
    margin-left:15px;
    margin-top:15px;
}
.logoBus img{
    width: 95px;
    height: 95px;
    border:1px solid lightgray;
}
.title{
    font-size: 19px;
    margin-top: -85px;
    position: absolute;
    margin-left: 137px;
    margin-right: 10px;
    text-align: left
}
.destination{
    color: lightcoral;
    font-size: 12px;
    margin-top: -15px;
    margin-left: 137px;
    margin-right: 10px;
    text-align: left;
   
}
span.underline{
    margin-top: 20px;
    text-align: left;
    padding-top: 7px;
    color:#6c757d!important;
}
.text-muted{
    position: relative;
    margin-top: 5px;
    width: 90%;
    height: 70px;
   
}
.text-muted span.underline{
    position: absolute;
    left:15px;
    display: inline;
    font-size: 13px;
}
.order{
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 75%;
    margin-top: 10px;
    border: 1px solid red;
    background-color: #ec4a41;
    font-size: 19px;
    padding: 10px;
    border-radius: 8px;
    color: white;
}
.order a{
    color: white;
}
.phone_number{
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 75%;
    margin-top: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 9px;
    border: 1px solid black;
    background-color: white;
    border-radius: 8px;
    font-size: 25px;
}
.phone_number a{
    font-size: 23px;
}
hr{
    width: 90%;
    background-color: lightgray;
    margin:0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0.5;

}
pre{
    display: inline;
    font-family: sans-serif;
    font-size: 13px;
    color: #ec4a41;
}
.autocomplete-items::before{
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 10px;
    width: 10px;
    position: absolute;
    pointer-events: none;
}
.autocomplete-items::before{
    border-color: rgba(193,193,193,0);
    border-bottom-color: #d6e1d4; 
    border-width: 15px;
    margin-left: -15px;
    margin-bottom: 0;
    z-index: 999;
    box-sizing: border-box;
}
.autocomplete-items {
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    width: 95%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 20px;
    z-index: 99;
  }
  
  .list {
    padding: 6px;
    cursor: pointer;
    background-color: #fff; 
    height: 45px;
    font-size: 14px;
  }
.autocomplete-items{
    box-shadow: -1px 4px 18px -2px rgba(0,0,0,0.59);
 
}
  .list:nth-child(1){
      background-color: #d6e1d4;
  }
  .list:nth-child(2n) {
   background-color: #f1f1f1;
  }
  .list img{
    position: absolute;
    left: 0;
    margin-top: 10px !important;
    margin-left: 10px !important;

  }
span#error-msg{
    color: red;
}
.error {
    border:2px solid red;
  }
  .listBox{
      width: 90%;
      height: 55px;
      position: absolute; 
      margin-left:40px;
      text-align: left;
  }
  .BusLogoNone{
      padding-top: 27px;
  }
  .resultFalse{
      background-color: #f3f3f3;
      height: 100% !important;
      padding-left: 10px;
      padding-right: 10px;
      height: auto;
      color:black;
  }
  
  .iti__hide {
    display: none; }
  button#send{ 
    width: 95% !important;
    height: 45px;
    background-color: #fe5c5c;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    margin-top: 20px;
  }
 a.blue-link{
     font-size: 12px;
     color: #fe5c5c;
 }
 small.form-text{
    text-align: left;
    color: lightgray;
}
.popover-body{
    display: none;
    width: 209px;
    height: 30px;
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    color: #fe5c5c;
    font-size: 17px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 175px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
    z-index: 900;

   
}
.arrow{
    left:105px;
    position: absolute;
    width: 0; 
    height: 0; 
    top: -7px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
}

.options{
    text-align: left;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: -15px;
}
label img{
    padding-top: 5px;
}
label{
    display: inline-block;
    margin-bottom: .5rem;
}
.boxPhone{
position: relative;
width:100%;
height: 100%;
background-color: white;
z-index: 900;
margin-bottom: 10px;
}
#connection{
    position: absolute;
    width: 95%;
    height: 25px;
    z-index: 999;
    background-color: #3444aa;
    top: 60px;
    padding: 5px;
    font-size: 16px;
    color:white;
    display:none;
    overflow-x: hidden;
    margin:0 auto;
    left: 0;
    right: 0;
}
span.blue-link{
    color:#fe5c5c;
}
.countResults{
    text-align: left;
    margin-bottom: 15px;
    font-size: 17px;
    margin-left: 20px;
    color: #6e757c;
}