span.paragraph{
    font-size: 20px;
    text-align: center !important;
}
ul{
    margin-top: 20px;
    margin-left: 10px;
}
li{
    margin-top: 10px;
}
h4.h4reg{
    margin-top: 40px;
    color: black !important;
}